body {
    background-color: rgb(17, 17, 17);
    font-family: 'Yuji Syuku', sans-serif;
    color: rgba(255, 255, 255, 0.85);
}

.grid-item {
    margin-bottom: 20px;
}

.card {
    border: 1px solid rgb(80, 80, 80);
    background-color: rgba(255, 255, 255, 0.1);
}

.card-title, .card-text {
    color: rgba(255, 255, 255, 0.95);
}
