body {
    background-color: rgb(17, 17, 17);
    font-family: 'Yuji Syuku', sans-serif;
    color: rgba(255, 255, 255, 0.85);
}

.card {
    border: 1px solid rgb(80, 80, 80);
    background-color: rgba(220, 220, 220, 0.1); 
    margin-bottom: 20px;
}

.card-title, .card-text {
    color: rgba(255, 255, 255, 0.95);
}

.container-narrow {
    padding-left: 15px; 
    padding-right: 15px; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}
